/vendor/
/node_modules/
/.env
/storage/*.key
/database/database.sqlite
/bootstrap/cache/*.php
.phpunit.result.cache
npm-debug.log
yarn-error.log
public/build/
tests/results/
playwright-report/
storage/logs/*.log
storage/framework/sessions/*
storage/framework/views/*
storage/framework/cache/data/*
!storage/framework/sessions/.gitkeep
!storage/framework/views/.gitkeep
!storage/framework/cache/data/.gitkeep
.DS_Store
